<div>
  <article [ngStyle]="{'box-shadow': sombra}">
    <header>
      <h1>Bienvenido!</h1>
    </header>
    <section>
      <p>Este es un curso intro de Angular y vamos a aprender a:</p>
      <ul>
        <li>
          Actualizar la plantilla de inicio          
        </li>
        <li>
          Actualizar el estilo de la pagina de inicio
        </li>
        <li>
          Actulizar el TypeScript de la pagina de inicio
        </li>
      </ul>
    </section>
    <footer>
      Esto es parte de nuestro proyecto angular: {{ title }}
    </footer>
  </article>
</div>